<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppIconScraper"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/Theme.AppIconScraper"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppIconScraper" />

        <activity
            android:name=".ThemeCustomizationActivity"
            android:launchMode="singleTop"
            android:label="Personalizar Iconos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppIconScraper" />

        <activity
            android:name=".IconPreviewActivity"
            android:label="Vista Previa de Iconos"
            android:parentActivityName=".ThemeCustomizationActivity"
            android:theme="@style/Theme.AppIconScraper" />
            
        <activity
            android:name=".ForegroundProcessingActivity"
            android:label="Pre-procesamiento Foreground"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppIconScraper" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>